{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}

{% block title %}Профиль {{ author.get_full_name }}{% endblock title %}
{% block content %}
<nav>

  <div alt="" class="u-border-8 u-border-white u-image u-image-circle u-image-1"></div>

  <link rel="stylesheet" href="{% static 'css/profile.css' %}">
  <nav class="navbar navbar-expand">
    <div class="navbar-collapse justify-content-center" style="margin-top:35px;">
      {% if author.avatar %}
        {% thumbnail author.avatar "100x100" crop="center" as im %}
          <img class='avatar' src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" align="center">
        {% endthumbnail %}
      {% else %}
        <img src="{% static 'img/person-fill.svg' %}" width="100" height="100" align="center" alt="Аватар">
      {% endif %}
    </div>
  </nav>
    <div class="fontsize navbar-collapse justify-content-center" style="margin-top:50px;">
      <h1 class="text text-center">{{ author.get_full_name }} - {{ author.username }}</h1>
    </div>
    <div class="navbar-collapse justify-content-center">
      <h6 class="text-center">{{ author.bio }}</h6>
    </div>

  <div style="margin-top:7px;"></div>

  
</nav>
<style>
  .btn {
    margin-left: 2px;
    margin-right: 2px;
  }
  .p1 a {
    color: #fff;
    border-radius: 50px;
   }
  .indent_profile {
    margin-top:7px;
  }
</style>
<script>
</script>
{% endblock content %}